@charset "UTF-8";
g/* ------------------------------------------------LLAMAR LOS ESTILOS EN CADA PAGINA----------------------------------------------------- */

/* ESTILOS MAIN  PAGINA INDEX */
#main__index {
  min-height: 10vh;
  padding: 0 40px;
  background-color: black;
  color: white;
}

.main_title_index {
  text-align: center;
  font-style: italic; /* Aplica cursiva al texto */
  font-size: 3em;
}

/* SECCION KEEP UP WITH US INDEX    */
.main__KIT-index {
  text-align: justify;
  margin: 40px 0;
}

.separator {
  border: none;
  border-top: 2px solid #6F4E38;
  margin: 10px 0;
  width: 100%;
}

.main__kit-title-index {
  font-size: 24px;
  margin: 20px 0;
}

.main__news-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.main__news-section {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  flex: 1; /* Permite que el recuadro ocupe el espacio disponible */
  margin-right: 20px;
}

.main__news-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main__logo--img {
  width: 300px;
  height: auto;
}

/* RESPONSIVE SECCION KEEP UP WITH US */
@media (max-width: 768px) {
  .main__news-content {
    flex-direction: column;
    align-items: center;
  }
  .main__news-section {
    margin-right: 0;
    max-width: 90%;
    margin-bottom: 20px;
  }
  .main__logo--img {
    width: 80%;
    max-width: 200px;
  }
  .main__kit-title-index {
    font-size: 20px;
  }
  .main__news-title {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .main__kit-title-index {
    font-size: 18px;
  }
  .main__news-title {
    font-size: 16px;
  }
  .main__logo--img {
    width: 70%; /* Reduce el tamaño del logo al 70% del ancho */
    max-width: 150px;
  }
}
/* ESTILOS SECCION SIGN UP INDEX */
.main__suscribe-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suscribe-content {
  display: block;
  margin-right: 20px;
}

.main__suscribe-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.main__title-signup-index {
  font-size: 20px;
  margin-bottom: 20px;
}

.suscribe-bar {
  display: flex;
  align-items: center;
}

.suscribe-bar input[type=email] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 250px;
}

.suscribe-bar input[type=submit] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E5F951;
  color: black;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.suscribe-bar input[type=submit]:hover {
  background-color: #E5F951;
}

/* RESPONSIVE SECCIONS SUSCRIBE*/
@media (max-width: 768px) {
  .main__suscribe-index {
    flex-direction: column;
    align-items: flex-start;
  }
  .suscribe-bar {
    width: 100%;
  }
  .suscribe-bar input[type=email] {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .suscribe-bar input[type=submit] {
    width: 100%;
    border-radius: 5px;
  }
}
/* ESTILOS DEL MAIN PAGINA PAGINA ABOUT US */
.main__card--about {
  margin: 20px auto;
  width: 80%;
  height: auto;
}

/* ESTILOS SECCION SIGN UP PAGINA ABOUT US */
.main__suscribe-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suscribe-content {
  display: block;
  margin-right: 20px;
}

.main__suscribe-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.main__title-signup-index {
  font-size: 20px;
  margin-bottom: 20px;
}

.suscribe-bar {
  display: flex;
  align-items: center;
}

.suscribe-bar input[type=email] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 250px;
}

.suscribe-bar input[type=submit] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E5F951;
  color: black;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.suscribe-bar input[type=submit]:hover {
  background-color: #E5F951;
}

/* Responsive para la seccion suscribe */
@media (max-width: 768px) {
  .main__suscribe-about {
    flex-direction: column;
    align-items: center;
  }
  .suscribe-bar {
    width: 100%;
  }
  .suscribe-bar input[type=email] {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .suscribe-bar input[type=submit] {
    width: 100%;
    border-radius: 5px;
  }
}
/* ESTILOS HEADER INDEX */
#header__index {
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
  display: flex;
  flex-direction: column; /* Cambiar a columna para apilar el logo y el nav */
  justify-content: flex-start; /* Alinea los elementos al principio del contenedor */
  padding: 0 20px;
  background-image: url(../images/BANNER_HOME.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

#header__index::after {
  content: ""; /* Necesario para que el pseudo-elemento se muestre */
  position: absolute; /* Posiciona el overlay sobre el header */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro semitransparente */
  z-index: 1; /* Asegúrate de que el overlay esté por encima de la imagen */
}

.header__title_index {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 50px; /* Ajusta el tamaño del texto como desees */
  color: white;
  padding: 10px;
  margin-top: auto;
}

/* ESTILOS DEL HEADER ABOUT US */
#header-about-us {
  width: 100%;
  height: 300px;
  background-image: url(../images/HEADER_ABOUT.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece con negro y 50% de opacidad */
  z-index: 1;
}

.header__slogan-about {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  text-align: center;
  font-style: italic;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 3rem;
}

/* Responsive para header */
@media (max-width: 768px) {
  #header-about-us {
    height: 200px; /* Ajusta la altura en pantallas pequeñas */
  }
  .header__slogan-about {
    font-size: 2rem; /* Reduce el tamaño del texto en pantallas pequeñas */
    padding: 5px; /* Ajusta el padding */
  }
}
@media (max-width: 480px) {
  #header-about-us {
    height: 150px; /* Ajusta la altura aún más en pantallas muy pequeñas */
  }
  .header__slogan-about {
    font-size: 1.5rem; /* Reduce aún más el tamaño del texto */
    padding: 3px; /* Ajusta el padding */
  }
}
/* Estilos del header */
#header-about-us {
  width: 100%;
  height: 300px;
  background-image: url(../images/HEADER_ABOUT.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-about-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece con negro y 50% de opacidad */
  z-index: 1;
}

.header__slogan-about {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  text-align: center;
  font-style: italic;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 3rem;
}

/* Responsive para header */
@media (max-width: 768px) {
  #header-about-us {
    height: 200px; /* Ajusta la altura en pantallas pequeñas */
  }
  .header__slogan-about {
    font-size: 2rem; /* Reduce el tamaño del texto en pantallas pequeñas */
    padding: 5px; /* Ajusta el padding */
  }
}
@media (max-width: 480px) {
  #header-about-us {
    height: 150px; /* Ajusta la altura aún más en pantallas muy pequeñas */
  }
  .header__slogan-about {
    font-size: 1.5rem; /* Reduce aún más el tamaño del texto */
    padding: 3px; /* Ajusta el padding */
  }
}
/* ESTILOS FOOTER PAGINA INDEX */
#footer__index {
  padding: 0 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between; /* Separar a izquierda y derecha */
  align-items: center;
  background-image: url(../images/FOOTER_INDEX.jpg);
  background-position: center;
  background-size: cover;
}

.footer__contactinfo-index {
  color: white;
  text-align: left; /* Alineación a la izquierda */
}

.footer__socialmedia {
  color: white;
  text-align: right; /* Alineación a la derecha */
  padding: 10px;
  justify-content: flex-end;
}

/* Estilos responsive */
@media screen and (max-width: 768px) {
  #footer__index {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .footer__contactinfo-index {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer__socialmedia {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* ESTILOS FOOTER PAGINA ABOUT US */
#footer__about {
  padding: 0 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/FOOTER_INDEX.jpg);
  background-position: center;
  background-size: cover;
}

.footer__contactinfo-about,
.footer__socialmedia {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/* Respnsive para el footer */
@media screen and (max-width: 768px) {
  #footer__about {
    flex-direction: column;
    align-items: center;
  }
  .footer__contactinfo-about,
  .footer__socialmedia {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #footer__about {
    padding: 0 20px;
  }
  .footer__contactinfo-about,
  .footer__socialmedia {
    width: 100%;
    text-align: center;
  }
}

/* ------------------------------------------------ESTILOS PROGRAMS & NEWS----------------------------------------------------- */
/* Estilos del body */
#body-programs {
  max-width: 1400px;
  background-color: black;
  color: white;
}

/* Estilos del header */
#header__programs {
  width: 100%;
  height: 300px;
  background-image: url(../images/HEADER_PROGRAMS.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header__programs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece con negro y 50% de opacidad */
  z-index: 1;
}

.header__slogan-about {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  text-align: center;
  font-style: italic;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 3rem;
}

/* Cajas contenedoras */
.program-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.program-container img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.program-container .program-text {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilos específicos por color */
.program-green {
  background-color: #275F4E;
}

.program-blue {
  background-color: #0A1320;
}

.program-gray {
  background-color: #1E2820;
}

.program-red {
  background-color: #7F1419;
}

.program-black {
  background-color: #1C1F29;
}

.main__title-GBP--programs, .main__title-FTPD--programs, .main__title-HPC--programs, .main__title-APCUP--programs, .main__title-PL--programs {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

.main__intro-GBP--programs, .main__intro-FTPD--programs, .main__intro-HPC--programs, .main__intro-APCUP--programs, .main__intro-PL--programs {
  font-size: 25px;
}

/* Estilos seccion Sign Up */
.main__suscribe-programs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.suscribe-content {
  display: block;
  margin-right: 20px;
}

.main__suscribe-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.main__title-signup-programs {
  font-size: 20px;
  margin-bottom: 20px;
}

.suscribe-bar {
  display: flex;
  align-items: center;
}

.suscribe-bar input[type=email] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 250px;
}

.suscribe-bar input[type=submit] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E5F951;
  color: black;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.suscribe-bar input[type=submit]:hover {
  background-color: #E5F951;
}

/* Responsive para la seccion suscribe */
@media (max-width: 768px) {
  .main__suscribe-programs {
    flex-direction: column;
    align-items: center;
  }
  .suscribe-bar {
    width: 100%;
  }
  .suscribe-bar input[type=email] {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .suscribe-bar input[type=submit] {
    width: 100%;
    border-radius: 5px;
  }
}
/* ESTILOS FOOTER */
#footer__programs {
  padding: 0 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/FOOTER_INDEX.jpg);
  background-position: center;
  background-size: cover;
}

.footer__contact-programs,
.footer__socialmedia {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/* Respnsive para el footer */
@media screen and (max-width: 768px) {
  #footer__programs {
    flex-direction: column;
    align-items: center;
  }
  .footer__contact-programs,
  .footer__socialmedia {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #footer__programs {
    padding: 0 20px;
  }
  .footer__contact-programs,
  .footer__socialmedia {
    width: 100%;
    text-align: center;
  }
}
/* ------------------------------------------------ESTILOS OUR TEAM----------------------------------------------------- */
/* Estilos del body */
#body-team {
  max-width: 1400px;
  background-color: black;
  color: white;
}

/* Estilos del header */
#header__team {
  width: 100%;
  height: 300px;
  background-image: url(../images/HEADER_TEAM.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header__team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece con negro y 50% de opacidad */
  z-index: 1;
}

.main__intro-team {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  text-align: center;
  font-style: italic;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 3rem;
}

/* ESTILOS FOOTER */
#footer__team {
  padding: 0 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/FOOTER_INDEX.jpg);
  background-position: center;
  background-size: cover;
}

.footer__contact-team,
.footer__socialmedia {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/* Respnsive para el footer */
@media screen and (max-width: 768px) {
  #footer__team {
    flex-direction: column;
    align-items: center;
  }
  .footer__contact-team,
  .footer__socialmedia {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #footer__team {
    padding: 0 20px;
  }
  .footer__contact-team,
  .footer__socialmedia {
    width: 100%;
    text-align: center;
  }
}
/* ------------------------------------------------ESTILOS JOHN----------------------------------------------------- */
/* Estilos del body */
#body-john {
  max-width: 1400px;
  background-color: black;
  color: white;
}

/* Estilos del header */
#header-john {
  width: 100%;
  height: 300px;
  background-image: url(../images/JDF\ MAIN3.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-john::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece con negro y 50% de opacidad */
  z-index: 1;
}

.header__title_john {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima del overlay */
  text-align: center;
  font-style: italic;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 3rem;
}

/* Estilos Main */
#main_john-section {
  margin: 20px;
}

.main__john-intro, .main__john-background {
  text-decoration: justify;
}

.main__john-slogan, .main__john-slogan2 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.carousel {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.carousel img {
  height: auto;
  object-fit: cover;
}

/* BREAKPOINTS

MOVIL: 480px
TABLET: 780px
*/

/*# sourceMappingURL=style.css.map */
