
/* ------------------------------------------------LLAMAR LOS ESTILOS EN CADA PAGINA----------------------------------------------------- */

@use "presets/reset";
@use "presets/main";
@use "presets/header";
@use "presets/footer";
@use "paginas/index";
@use "paginas/about";

/* ------------------------------------------------ESTILOS PROGRAMS & NEWS----------------------------------------------------- */

/* Estilos del body */
#body-programs {
    max-width: 1400px;
    background-color: black;
    color: white;
}


/* Estilos del header */
#header__programs{
    width: 100%;
    height: 300px;
    background-image: url(../images/HEADER_PROGRAMS.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header__programs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece con negro y 50% de opacidad */
    z-index: 1;
}

.header__slogan-about {
    position: relative;
    z-index: 2; /* Asegura que el texto esté por encima del overlay */
    text-align: center;
    font-style: italic;
    color: white;   
    padding: 10px;
    font-weight: bold; 
    font-size: 3rem; 
}

/* Cajas contenedoras */
.program-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.program-container img {
    width: 50%;
    height: 100%; 
    object-fit: cover;
}

.program-container .program-text {
    width: 50%;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos específicos por color */
.program-green {
    background-color: #275F4E; 
}

.program-blue{
    background-color: #0A1320;
}   

.program-gray{
    background-color: #1E2820;
}

.program-red {
    background-color: #7F1419;
}

.program-black {
    background-color: #1C1F29;
}

.main__title-GBP--programs,.main__title-FTPD--programs,.main__title-HPC--programs,.main__title-APCUP--programs,.main__title-PL--programs {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.main__intro-GBP--programs,.main__intro-FTPD--programs,.main__intro-HPC--programs,.main__intro-APCUP--programs,.main__intro-PL--programs {
    font-size: 25px;
}

/* Estilos seccion Sign Up */
.main__suscribe-programs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}

.suscribe-content {
    display: block;
    margin-right: 20px;
}

.main__suscribe-title {
    font-weight: bold;
    font-size: 30px; 
    margin-bottom: 10px;
}

.main__title-signup-programs {
    font-size: 20px;
    margin-bottom: 20px;
}

.suscribe-bar {
    display: flex;
    align-items: center; 
}

.suscribe-bar input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; 
    width: 250px; 
}

.suscribe-bar input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #E5F951;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.suscribe-bar input[type="submit"]:hover {
    background-color: #E5F951;
}

/* Responsive para la seccion suscribe */
@media (max-width: 768px) {
    .main__suscribe-programs {
        flex-direction: column; 
        align-items: center;
    }

    .suscribe-bar {
        width: 100%; 
    }

    .suscribe-bar input[type="email"] {
        width: 100%; 
        margin-bottom: 10px; 
        border-radius: 5px; 
    }

    .suscribe-bar input[type="submit"] {
        width: 100%; 
        border-radius: 5px; 
    }
}

/* ESTILOS FOOTER */
#footer__programs { 
    padding: 0 40px;
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/FOOTER_INDEX.jpg);
    background-position: center;
    background-size: cover;
}

.footer__contact-programs,
.footer__socialmedia {
    color: white; 
    text-align: center;
    padding: 10px; 
    margin: 0;
}

/* Respnsive para el footer */

@media screen and (max-width:768px) {
    #footer__programs{
    flex-direction: column;
    align-items: center;
    }

    .footer__contact-programs,
    .footer__socialmedia {
    width: 100%;
    text-align: center;
}
}

@media screen and (max-width:480px) {
    #footer__programs{
    padding: 0 20px;
    }

    .footer__contact-programs,
    .footer__socialmedia{
    width: 100%;
    text-align: center;
    }
    
}

/* ------------------------------------------------ESTILOS OUR TEAM----------------------------------------------------- */

/* Estilos del body */
#body-team {
    max-width: 1400px;
    background-color: black;
    color: white;
}


/* Estilos del header */
#header__team{
    width: 100%;
    height: 300px;
    background-image: url(../images/HEADER_TEAM.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header__team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece con negro y 50% de opacidad */
    z-index: 1;
}

.main__intro-team {
    position: relative;
    z-index: 2; /* Asegura que el texto esté por encima del overlay */
    text-align: center;
    font-style: italic;
    color: white;   
    padding: 10px;
    font-weight: bold; 
    font-size: 3rem; 
}

/* ESTILOS FOOTER */
#footer__team { 
    padding: 0 40px;
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/FOOTER_INDEX.jpg);
    background-position: center;
    background-size: cover;
}

.footer__contact-team,
.footer__socialmedia {
    color: white; 
    text-align: center;
    padding: 10px; 
    margin: 0;
}

/* Respnsive para el footer */

@media screen and (max-width:768px) {
    #footer__team{
    flex-direction: column;
    align-items: center;
    }

    .footer__contact-team,
    .footer__socialmedia {
    width: 100%;
    text-align: center;
}
}

@media screen and (max-width:480px) {
    #footer__team{
    padding: 0 20px;
    }

    .footer__contact-team,
    .footer__socialmedia{
    width: 100%;
    text-align: center;
    }
    
}


/* ------------------------------------------------ESTILOS JOHN----------------------------------------------------- */

/* Estilos del body */
#body-john {
    max-width: 1400px;
    background-color: black;
    color: white;
}


/* Estilos del header */
#header-john{
    width: 100%;
    height: 300px;
    background-image: url(../images/JDF\ MAIN3.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-john::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece con negro y 50% de opacidad */
    z-index: 1;
}

.header__title_john {
    position: relative;
    z-index: 2; /* Asegura que el texto esté por encima del overlay */
    text-align: center;
    font-style: italic;
    color: white;   
    padding: 10px;
    font-weight: bold; 
    font-size: 3rem; 
}

/* Estilos Main */
#main_john-section {
    margin: 20px;
}

.main__john-intro, .main__john-background {
    text-decoration: justify;
}

.main__john-slogan, .main__john-slogan2 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.carousel {
    width: 40%;
    margin: 0 auto; 
    margin-bottom: 20px;
}

.carousel img {
    height: auto; 
    object-fit: cover;
}

/* BREAKPOINTS

MOVIL: 480px
TABLET: 780px
*/